# Entornos virtuales
venv/
env/
.env
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Bases de datos locales
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
